<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/app.png" type="image/x-icon">
    <link rel="icon" href="assets/app.png" type="image/x-icon">
    <title> Griddy </title>
  </head>
  <body>
    <div id="app" v-cloak>

        <div class="jumbo">
          <div class="jumbo__container">
            <div class="jumbo__title"> Griddy Filtering System </div>
            <div class="jumbo__subtitle"> Explore more than 100+ items </div>
          </div>
        </div>
        
        <div class="container grid--layout spacing-top">

            <div class="sidebar">
              <div class="sidebar__block"> 
                  <div class="sidebar__title"> Sort Apps By </div>
                  <div class="sidebar__item"> Most Popular </div>
                  <div class="sidebar__item"> Alphabetical </div>
                  <div class="sidebar__item"> Recently Added </div>
                  <div class="sidebar__item"> Upcoming </div>
              </div>
              <div class="sidebar__block"> 
                  <div class="sidebar__title"> Filter by Category </div>
                  <div class="sidebar__item"> Compact </div>
                  <div class="sidebar__item"> Large </div>
                  <div class="sidebar__item"> Sedan </div>
                  <div class="sidebar__item"> Truck </div>
                  <div class="sidebar__item"> Van </div>
              </div>
            </div> <!-- sidebar -->

            <div>
              <el-input
                v-model="query"
                placeholder="Search over 100+ items"
                suffix-icon="el-icon-search">
              </el-input>
              <div class="grid--card">

                <div class="card card--grid" v-if="item_list.length > 0" v-for="item in item_list">
                  <img class="card__image" src="assets/hills.svg" />
                  <div> {{ item.model }} </div>
                  <div> {{ item.make }} </div>
                  <div> {{ item.year }} </div>
                </div>
                <div v-if="item_list.length == 0">
                  No Results
                </div>

              </div> <!-- grid -->

            </div>

        </div>

    </div>
  </body>
</html>