@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$break-lg: 1200px;
$break-md: 992px;
$break-sm: 768px;
$break-xs: 556px;

$spacing: 40px;

$color-primary: mediumseagreen;
$color-active: deepskyblue;
$color-bg: whitesmoke;
$color-font: #384047;

$shadow-default: 0 1px 1px 0 rgba(0,0,0,.15);
$border-radius-default: 3px;
$transition-custom: all 0.2s ease;

// Element Styles
body {
    margin: 0;
    margin-bottom: 20px;
    color: $color-font;
    font-family: 'Open Sans', sans-serif;
    background-color: $color-bg;
    ul {
      padding: 0;
      list-style-type: none;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
}
  
[v-cloak] {
    display: none;
}